<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ninja Gold</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninjagold.css') }}">
	</head>
	<body>
		<div id="container">
			<p>Your Gold: {{gold}}</p>
			<div class="place">
				<h3>Farm</h3>
				<p>(earns 10-20 golds)</p>
				<form action="/process_money" method="post"><input type="hidden" name="building" value="farm">
					<input type='submit' value='Find Gold!'>
				</form>				
			</div>
			<div class="place">
				<h3>Cave</h3>
				<p>(earns 5-10 golds)</p>
				<form action="/process_money" method="post"><input type="hidden" name="building" value="cave">
					<input type='submit' value='Find Gold!'>
				</form>
			<div class="place">
				<h3>House</h3>
				<p>(earns 2-5 golds)</p>
				<form action="/process_money" method="post"><input type="hidden" name="building" value="house">
					<input type='submit' value='Find Gold!'>
				</form>
			<div class="place">
				<h3>Casino</h3>
				<p>(earns/takes 0-50 golds)</p>
				<form action="/process_money" method="post"><input type="hidden" name="building" value="casino">
					<input type='submit' value='Find Gold!'>
				</form>
			</div>
			<div id="window">
				{% if messages %}
					{% for message in messages %}
						{% if "Ouch" in message %}
							<p class="red">{{message}}</p>
						{% else %}
							<p class="green">{{message}}</p>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</body>
</html>
